.instance-number {
  user-select: none;
  display: inline-flex;
  // padding: 0 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  > div {
    > span:nth-of-type(1) {
      padding-right: 4px;
    }
  }
}
