@import './const.less';

.internalLink {
  cursor: pointer;
  color: @themeColor;
  > span:nth-of-type(1):not(:empty) {
    padding-right: 4px;
  }
  &:hover {
    color: @themeColor;
    > span:nth-of-type(2) {
      text-decoration: underline;
    }
  }
}
